@import '../../scss/main';

.profile {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  width: 77px;
  height: 77px;
  background-color: $color-primary;
  cursor: pointer;
  font-family: $font-chat;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  box-sizing: border-box;
}

.offline {
  background-color: $color-gray-alt;
  cursor: default;

  &:hover {
    .offlineBubble {
      opacity: 1;
      transform: translateY(-50%);
    }
  }
}

.bubble {
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;
  position: relative;
  top: -18px;
  left: -18px;
  background-color: $color-primary;
  color: #ffffff;
  font-family: $font-chat;
  border-radius: 50%;
}

.offlineBubble {
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;
  background-color: $color-gray-alt;
  position: absolute;
  font-size: 1rem;
  line-height: 1.5;
  top: 50%;
  right: calc(100% + 10px);
  opacity: 0;
  transform: translateY(100%);
  transition: all 250ms;
}
