$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-black: var(--color-black);
$color-mustakivi: var(--color-mustakivi);
$color-gray: var(--color-gray);
$color-hellamaa: var(--color-hellamaa);
$color-majakivi: var(--color-majakivi);
$color-placeholder-gray: var(--color-placeholder-gray);
$color-input-border-gray: var(--color-input-border-gray);
$color-background-gray: var(--color-background-gray);
$color-white: var(--color-white);
$color-focus-light: var(--color-focus-light);
$color-focus-dark: var(--color-focus-dark);
$color-scrollbar-normal: var(--color-scrollbar-normal);
$color-scrollbar-hover: var(--color-scrollbar-hover);
$color-scrollbar-active: var(--color-scrollbar-active);
$color-header-bottom-border: var(--color-header-bottom-border);
